<div class="login-container">

<div class="login">
   <h1 class="title">
    {{title}}
  </h1>

  <h3>Let's sleep together.</h3>

  <input id="txtLoginUsername" #emailRef class="form-control" type="text"
         placeholder="Username" (keyup.enter)="login(emailRef.value, passRef.value)" required
         [ngClass]="{'error': isLoginError}">
  <div class="error-label" *ngIf="isLoginError"
       [ngClass]="{'error': isLoginError}">
    This field is required
  </div>

  <input id="txtLoginPassword" #passRef class="form-control mt-1" type="password" required
         placeholder="Password" (keyup.enter)="login(emailRef.value, passRef.value)"
         [ngClass]="{'error': isLoginError}">

  <div class="error-label" *ngIf="isLoginError"
       [ngClass]="{'error': isLoginError}">
    This field is required
  </div>

  <button class="btn btn-INFO mt-1" (click)="login(emailRef.value, passRef.value)">
    Login
  </button>
</div>

</div>
