.main-container {
  background: #2a2931;
  height: 100vh;
  color: white;
}

/* For some reason these are not working */
:host /deep/ {
  .main-bg {
    background: #2a2931;
  }
  .emphasize-color {
    color: #ff750f;
  }
  .emphasize-bg {
    background: #ff750f;
  }
}
