<div id="main-section">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <p>{{userData?.userinfo.name}}</p>
      <p>{{userData?.userinfo.avgSleepPercentage}} %</p>
      <p>avg sleep</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      Mike's component goes here
    </div>
    <div class="col-xs-12 col-sm-4">
      <p>
        {{matchName}}
      </p>
      <!-- <p>{{match.avgSleepPercent}} %</p> -->
      <p>avg sleep</p>
    </div>
  </div>

  <div class="row">
    <p *ngIf="matchpercent">
      Match: {{matchpercent}}
    </p>
    <p *ngIf="!matchpercent">
      Calculating your match...
    </p>
    <button class="btn btn-success" (click)="acceptMatch()">Let's sleep!</button>
    <button class="btn btn-secondary" [disabled]="currentIndex >= allUsers?.length -1" (click)="nextMatch()">Next</button>
  </div>
</div>
