<div id="main-section" class="py-3">
  <div class="row text-xs-center">
    <div class="col-xs-12 col-sm-4">
      <h3>{{userData?.userinfo.name}}</h3>
      <p class="user-percentage-value">{{matchObject?.avgscore1 || 0}} %</p>
      <p>avg sleep</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <app-pie-chart [percentsObs]="matchpercentObs"></app-pie-chart>
    </div>
    <div class="col-xs-12 col-sm-4">

      <h3>{{matchedUser?.userinfo.name}}</h3>
      <p class="user-percentage-value">{{matchObject?.avgscore2 || 0}} %</p>
      <p>avg sleep</p>
    </div>
  </div>

  <div class="row">
    <p class="match-text" *ngIf="matchpercent">
      Match!
    </p>
    <p *ngIf="!matchpercent">
      Calculating your match...
    </p>
    <button class="btn btn-success" (click)="acceptMatch()">Hang out</button>
    <button class="btn btn-secondary" (click)="nextMatch()">Next</button>
  </div>
</div>
