#main-section {
  height: 420px;
  text-align: center;
  width: 100%;
  padding: 1em;
}

.user-percentage-value {
  font-size: 3em;
}

.match {
  height: 70px;
}

.stat-elem {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: x-large;
}

.background {
  background-color: #312E3C;
}

.left-side {
  color: #ff0357;
  font-weight: bold;
}

.right-side {
  color: #c54cf2;
  font-weight: bold;
}

.button-area {
  padding: 1em 0;
}

.emphasize-bg {
  background: #ff750f;
  border-color: #ff750f;
}

.emphasize-bg:hover {
  background: #ff882f;
}

.btn, .btn:hover, .btn:focus {
  border-radius: 0;
  background: rgba(218,73,28,0.55);
  font-size: 16px;
  margin-top: 20px;
  font-weight: bold;
  color: white;
  box-shadow: none;
  text-transform: uppercase;
  outline: none;
  border: 2px solid rgba(218,73,28,0.1);
}
button.btn:hover, button.btn:focus {background: rgba(218,73,28,1); border: 2px solid rgba(218,73,28,1);}
button.btn:focus, button.btn:active:focus {color: white; outline: none;}
.btn.btn-cancel {
  border: 2px solid rgba(218,73,28,0.55);
  background: rgba(218,73,28,0.07);
}
.btn.btn-cancel:hover { background: rgba(218,73,28,1); }
