<div id="main-section">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <p>{{userData?.userinfo.name}}</p>
      <p>{{matchObject?.avgscore1 || 0}} %</p>
      <p>avg sleep</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <app-pie-chart [percents]="matchpercent"></app-pie-chart>
    </div>
    <div class="col-xs-12 col-sm-4">
      <p>
        {{matchedUser?.userinfo.name}}
      </p>
      <p>{{matchObject?.agvScore2 || 0}} %</p>
      <p>avg sleep</p>
    </div>
  </div>

  <div class="row">
    <p *ngIf="matchpercent">
      Match: {{matchpercent}}
    </p>
    <p *ngIf="!matchpercent">
      Calculating your match...
    </p>
    <button class="btn btn-success" (click)="acceptMatch()">Let's sleep!</button>
    <button class="btn btn-secondary" (click)="nextMatch()">Next</button>
  </div>
</div>
