#main-section {
  height: 420px;
  text-align: center;
  width: 100%;
  padding: 1em;
}

.user-percentage-value {
  font-size: 3em;
}

.match {
  height: 70px;
}

.stat-elem {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: x-large;
}

.background {
  background-color: #f4f4f3;
}
