/* You can add global styles to this file, and also import other style files */
* {
  font-family: Roboto, "Segoe UI", "Helvetica Neue", Arial,sans-serif;
}

button {
  min-width: 10rem;
}

body {
  background-color: #2a2931;
}

.btn, .btn:hover, .btn:focus {
  border-radius: 0;
  background: rgba(218,73,28,0.55);
  font-size: 16px;
  margin-top: 20px;
  font-weight: bold;
  color: white;
  box-shadow: none;
  text-transform: uppercase;
  outline: none;
  border: 2px solid rgba(218,73,28,0.1);

  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

button.btn:hover, button.btn:focus {
  background: rgba(218,73,28,1);
  border: 2px solid rgba(218,73,28,1);
}

button.btn:focus, button.btn:active:focus {color: white; outline: none;}

.btn.btn-cancel {
  border: 2px solid rgba(218,73,28,0.55);
  background: rgba(218,73,28,0.07);
}

.btn.btn-cancel:hover { background: rgba(218,73,28,1); }

.main-bg {
  background: #2a2931;
}
.emphasize-color {
  color: #ff750f;
}
.emphasize-bg {
  background: #ff750f;
}
